<div class="container">
  <div class="row searchbar">
    <input #search type="text" class="form-control bottom" placeholder="Search..." (keyup)="onSearchChanged($event)" />
  </div>
  <div class="row options">
    <div class="col-md-3">
      <app-combo-box #filterBy [id]="'filterBy'" [label]="'Filter by'" [comboItems]="filterComboItems"
                     (comboChanged)="onFilterByChanged($event)"></app-combo-box>
    </div>
    <div class="col-md-3">
      <app-combo-box #sortBy [id]="'sortBy'" [label]="'Sort by'" [comboItems]="sortByComboItems"
                     (comboChanged)="onSortByChanged($event)"></app-combo-box>
    </div>
    <div class="btn-group btn-group-toggle buttons" ngbRadioGroup name="radioBasic"
         [(ngModel)]="sortDirection" (change)="refreshItems()">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="ascending"> Ascending
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="descending"> Descending
      </label>
    </div>
    <div class="col-md-2 buttons">
      <label class="btn-primary" ngbButtonLabel (click)="clear()">
        Clear
      </label>
    </div>
  </div>
  <div class="row list-container">
    <span *ngIf="waitingForData">Waiting for data...</span>
    <ul *ngIf="!waitingForData">
      <li *ngFor="let item of itemsToShow">{{item.title?.toUpperCase()}}</li>
    </ul>
  </div>
</div>
